---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/annaroyer/received_events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1521783389'
      Etag:
      - W/"166eac809ce3fba6b37a5f2444f88277"
      Last-Modified:
      - Thu, 22 Mar 2018 16:11:32 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 520c9da346db88e40719
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26782839/received_events?page=2>; rel="next",
        <https://api.github.com/user/26782839/received_events?page=2>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7420277010","type":"MemberEvent","actor":{"id":32661560,"login":"lnchambers","display_login":"lnchambers","gravatar_id":"","url":"https://api.github.com/users/lnchambers","avatar_url":"https://avatars.githubusercontent.com/u/32661560?"},"repo":{"id":126204866,"name":"lnchambers/potterspec","url":"https://api.github.com/repos/lnchambers/potterspec"},"payload":{"member":{"login":"memcmahon","id":32604200,"avatar_url":"https://avatars1.githubusercontent.com/u/32604200?v=4","gravatar_id":"","url":"https://api.github.com/users/memcmahon","html_url":"https://github.com/memcmahon","followers_url":"https://api.github.com/users/memcmahon/followers","following_url":"https://api.github.com/users/memcmahon/following{/other_user}","gists_url":"https://api.github.com/users/memcmahon/gists{/gist_id}","starred_url":"https://api.github.com/users/memcmahon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/memcmahon/subscriptions","organizations_url":"https://api.github.com/users/memcmahon/orgs","repos_url":"https://api.github.com/users/memcmahon/repos","events_url":"https://api.github.com/users/memcmahon/events{/privacy}","received_events_url":"https://api.github.com/users/memcmahon/received_events","type":"User","site_admin":false},"action":"added"},"public":true,"created_at":"2018-03-22T16:11:32Z"},{"id":"7413843116","type":"CreateEvent","actor":{"id":32661560,"login":"lnchambers","display_login":"lnchambers","gravatar_id":"","url":"https://api.github.com/users/lnchambers","avatar_url":"https://avatars.githubusercontent.com/u/32661560?"},"repo":{"id":126204866,"name":"lnchambers/potterspec","url":"https://api.github.com/repos/lnchambers/potterspec"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2018-03-21T16:01:05Z"},{"id":"7410340999","type":"CreateEvent","actor":{"id":32661560,"login":"lnchambers","display_login":"lnchambers","gravatar_id":"","url":"https://api.github.com/users/lnchambers","avatar_url":"https://avatars.githubusercontent.com/u/32661560?"},"repo":{"id":126107644,"name":"lnchambers/omniauth-eve_o","url":"https://api.github.com/repos/lnchambers/omniauth-eve_o"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","des[...]
[...]
