---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/annaroyer/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4940'
      X-Ratelimit-Reset:
      - '1521792022'
      Etag:
      - W/"a89609de8637ba739a90c7fa5b54fd36"
      Last-Modified:
      - Fri, 23 Mar 2018 07:16:43 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 520c9da346db88e40719
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26782839/events?page=2>; rel="next", <https://api.github.com/user/26782839/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7423726300","type":"DeleteEvent","actor":{"id":26782839,"login":"annaroyer","display_login":"annaroyer","gravatar_id":"","url":"https://api.github.com/users/annaroyer","avatar_url":"https://avatars.githubusercontent.com/u/26782839?"},"repo":{"id":125905846,"name":"annaroyer/api_curious","url":"https://api.github.com/repos/annaroyer/api_curious"},"payload":{"ref":"organizations","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2018-03-23T07:16:43Z"},{"id":"7423726083","type":"DeleteEvent","actor":{"id":26782839,"login":"annaroyer","display_login":"annaroyer","gravatar_id":"","url":"https://api.github.com/users/annaroyer","avatar_url":"https://avatars.githubusercontent.com/u/26782839?"},"repo":{"id":125905846,"name":"annaroyer/api_curious","url":"https://api.github.com/repos/annaroyer/api_curious"},"payload":{"ref":"other_user_summary_feed","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2018-03-[...]
[...]
