---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/annaroyer/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1521748830'
      Etag:
      - W/"20b1f61e85948a3cc0fce9124624f3b7"
      Last-Modified:
      - Wed, 21 Mar 2018 02:51:58 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 520c9da346db88e40719
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/26782839/events?page=2>; rel="next", <https://api.github.com/user/26782839/events?page=9>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7410490907","type":"DeleteEvent","actor":{"id":26782839,"login":"annaroyer","display_login":"annaroyer","gravatar_id":"","url":"https://api.github.com/users/annaroyer","avatar_url":"https://avatars.githubusercontent.com/u/26782839?"},"repo":{"id":125905846,"name":"annaroyer/api_curious","url":"https://api.github.com/repos/annaroyer/api_curious"},"payload":{"ref":"auth","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2018-03-21T02:51:58Z"},{"id":"7410489955","type":"PushEvent","actor":{"id":26782839,"login":"annaroyer","display_login":"annaroyer","gravatar_id":"","url":"https://api.github.com/users/annaroyer","avatar_url":"https://avatars.githubusercontent.com/u/26782839?"},"repo":{"id":125905846,"name":"annaroyer/api_curious","url":"https://api.github.com/repos/annaroyer/api_curious"},"payload":{"push_id":2419536077,"size":14,"distinct_size":14,"ref":"refs/heads/master","head":"19293f09338c0848fdeca7fdf76bf397eefce7e9","before":"be53f7644dc944cb546b8b42d91220af25c26f31","commits":[{"sha":"05db241fbd242b996e8018bc5850afbcd33e3fee","author":{"email":"anna.royer@colorado.edu","name":"Anna
        Royer"},"message":"add test for user update_or_create method","distinct":true,"url":"https://api.github.com/repos/annaroyer/api_curious/commits/05db241fbd242b996e8018bc5850afbcd33e3fee"},{"sha":"562920135cb9f1cf67e93ec5d637d530ec3ba74f","author":{"email":"anna.royer@colorado.edu","name":"Anna
        Royer"},"message":"add test user can see basic information","distinct":true,"url":"https://api.github.com/repos/annaroyer/api_curious/commits/562920135cb9f1cf67e93ec5d637d530ec3ba74f"},{"sha":"d5b4eccea8e9c215a47fa02df14e1680f68d2af0","author":{"email":"anna.royer@colora[...]
