---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/ultrasaurus/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1521792022'
      Etag:
      - W/"e3104fbf04834f30d5d739cbca8c2e0f"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 520c9da346db88e40719
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"radiant","id":14429,"url":"https://api.github.com/orgs/radiant","repos_url":"https://api.github.com/orgs/radiant/repos","events_url":"https://api.github.com/orgs/radiant/events","hooks_url":"https://api.github.com/orgs/radiant/hooks","issues_url":"https://api.github.com/orgs/radiant/issues","members_url":"https://api.github.com/orgs/radiant/members{/member}","public_members_url":"https://api.github.com/orgs/radiant/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/14429?v=4","description":null},{"login":"mightyverse","id":79720,"url":"https://api.github.com/orgs/mightyverse","repos_url":"https://api.github.com/orgs/mightyverse/repos","events_url":"https://api.github.com/orgs/mightyverse/events","hooks_url":"https://api.github.com/orgs/mightyverse/hooks","issues_url":"https://api.github.com/orgs/mightyverse/issues","members_url":"https://api.github.com/orgs/mightyverse/members{/member}","public_members_url":"https://api.github.com/orgs/mightyverse/public_members{/member}","avatar_[...]
[...]
