---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1521826376'
      Etag:
      - W/"6e53bc669682fa0dd809865b61f0fc4a"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 520c9da346db88e40719
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":118160300,"name":"activerecord_exploration","full_name":"annaroyer/activerecord_exploration","owner":{"login":"annaroyer","id":26782839,"avatar_url":"https://avatars0.githubusercontent.com/u/26782839?v=4","gravatar_id":"","url":"https://api.github.com/users/annaroyer","html_url":"https://github.com/annaroyer","followers_url":"https://api.github.com/users/annaroyer/followers","following_url":"https://api.github.com/users/annaroyer/following{/other_user}","gists_url":"https://api.github.com/users/annaroyer/gists{/gist_id}","starred_url":"https://api.github.com/users/annaroyer/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/annaroyer/subscriptions","organizations_url":"https://api.github.com/users/annaroyer/orgs","repos_url":"https://api.github.com/users/annaroyer/repos","events_url":"https://api.github.com/users/annaroyer/events{/privacy}","received_events_url":"https://api.github.com/users/annaroyer/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/annaroyer/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/annaroyer/activerecord_exploration","forks_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/annaroyer/activerecord_exploration/deployments","created_at":"2018-01-19T18:06:06Z","updated_at":"2018-01-19T18:06:07Z","pushed_at":"2017-06-30T15:55:56Z","git_url":"git://github.com/annaroyer/activerecord_exploration.git","ssh_url":"git@github.com:annaroyer/activerecord_exploration.git","clone_url":"https://github.com/annaroyer/activerecord_exploration.git","svn_url":"https://github.com/annaroyer/activerecord_exploration","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":125905846,"name":"api_curious","full_name":"annaroyer/api_curious","owner":{"login":"annaroyer","id":26782839,"avatar_url":"https://avatars0.githubusercontent.com/u/26782839?v=4","gravatar_id":"","url":"https://api.github.com/users/annaroyer","html_url":"https://github.com/annaroyer","followers_url":"https://api.github.com/users/annaroyer/followers","following_url":"https://api.github.com/users/annaroyer/following{/other_user}","gists_url":"https://api.github.com/users/annaroyer/gis[...]
[...]
