.profile-image {
  height: 229px;
  width: 229px;
  border-radius: 10px;
}

.icon-image {
  height: 60px;
  width: 70px;
}

.small-icon-image {
  height: 25px;
  width: 30px;
}

.avatar-image {
  height: 30px;
  width: 30px;
}
